.btn-voltar {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.btn-voltar i {
  margin-right: 6px;
  vertical-align: middle;
}

.btn-voltar:hover {
  background-color: #2980b9;
}
